#仅忽略当前.gitignore所在目录中的以下文件（不递归,名称前的/表示不递归，仅忽略当前目录下的目标文件，否则在版本控制下的所有目标文件都会被忽略）
#/.classpath
#/.project
#仅忽略当前.gitignore所在目录中的以下目录（不递归,名称前的/表示不递归，仅忽略当前目录下的目标文件，否则在版本控制下的所有目标文件都会被忽略）
/target/
/logs/
#/.settings/